.App {
  font-family: sans-serif;
  text-align: center;
}

.SearchForm {
  background-color: #0100a4;
  height: 100px;
}
header {
  background-color: #0100a4;
}
footer {
  background-color: #0100a4;
  height: 100px;
}
