.App {
  font-family: sans-serif;
  text-align: center;
}

.SearchForm {

  height: 100px;
}
header {

}
footer {

  height: 100px;
}


.active{
  text-decoration: none;
  color:gray;
  font-weight: bold;
}

